#demo-description
{
	width: 50%;
}
#input
{
	float: left;
	width: 25%;
}
#bode
{
	display: inline-block;
	width: 37.5%;
}
#output
{
	float: right;
	width: 37.5%;
}

#tf-fucntion
{
	/*float: left;*/
}

.formula
{
	/* margin-left: 30%; */
	
}

#input-signal-box
{
	margin-left: 0.5em;
}

.slider
{
	margin-top: 1em;
	margin-bottom: 1em;
}

.slider-value
{
	
	display:block;
	float: left;
	
}
.slider-value-container
{
	padding-bottom: 1em;
}
#bode-plot-container
{
	height: 30em;
}

#output-plot-container
{
	height: 15em;
}

#input-form   span
{
	float: left; 
	width: 6em;
}