#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#section1 {
    line-height:30px;
    width:320px;
    float:left;
    padding:5px;
}
//#section2 {
 //   line-height:20px;
//    width:410px;
//    float:left;
//    padding:5px;
//}
//#section3 {
//    line-height:30px;
//    width:510px;
//    float:left;
//    padding:5px;
//}

.fraction {
    display: inline-block;
    position: relative;
    vertical-align: middle; 
    letter-spacing: 0.001em;
    text-align: center;
    font-size: 12px;
    }
.fraction > span { 
    display: block; 
    padding: 0.1em; 
    }
.fraction span.fdn {border-top: thin solid black;}
.fraction span.bar {display: none;}
