
#left-pane
{
	width: 40%;
	float: left;
}
#right-pane
{
	float: left;
	width: 50%;
	margin-left:  5%;
	margin-right: 5%;
	/* mathbox sets absolute positioning for its overlay:*/
	position: relative;
}


.step-content
{
	overflow: hidden;
	-webkit-transition: max-height 600ms cubic-bezier(0.25, 0.1, 0.25, 1.0);
	transition:         max-height 600ms cubic-bezier(0.25, 0.1, 0.25, 1.0);
	max-height: 0px;
	background-color: #E8DFD3
}

.step-header
{
	border: 1px;
	border-style: solid;
}

.step-header.open  + .step-content
{
	max-height: 700px;
}

:not{.open}.step-header:after
{
	content: " (click me)";
	font-size: 50%;
}

#drawing
{
	width:100%;
	height:800px;
}

.step-content > div
{
	margin: 0pt 5pt;
}

#step-1-content>div>span
{
	float: left; 
	width: 6em;
}

#step-1-content button
{
	margin: 5pt 0pt;
}